/*general*/
* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #37474f;
  color: #fff;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

/*NavBar*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-container,
.nav-adjacent {
  display: flex;
  align-items: center;
}

.nav-container {
  justify-content: space-between;
  padding: 0 1em;
  background: #263238;
}

.open-side-nav {
  background: none;
  color: #fff;
  border: none;
  font-size: 1.5rem;
}

.room-header {
  padding: 0 0 0 1em;
}

.fa-ellipsis-v {
  font-size: 1.25rem;
}

/* SideBar */
.side-nav {
  position: fixed;
  transform: translateX(-100%);
  transition: 250ms transform;
  z-index: 101;
  background: #455a64;
  min-height: 100vh;
  width: 250px;
  top: 0;
}

.side-nav-open {
  transform: translateX(0);
}

.side-nav-content {
  margin: 0 0 0 1em;
}

.side-nav-list-header {
  margin: 1em 0 0.5em;
}

.side-nav-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0.5em;
}

.side-nav-item {
  margin: 0.3em 0;
}

.logout-btn {
  margin: 62vh 0 0 0;
}

/* Modals */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #fff;
  color: #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-modal-header {
  cursor: pointer;
  margin: 0.25em 0;
}

.room-form-modal {
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.room-form-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-form-header {
  color: black;
  margin: 0;
}

.close-room-form {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.room-form-container {
  margin: 1em 0 0 0;
}

.room-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.room-form-inputs {
  display: flex;
  flex-direction: column;
  margin: 0 0 1em 0;
}

.input-item {
  display: flex;
  flex-direction: column;
}

.room-form-label {
  margin: 0 0 0.5em 0;
}

.room-form-submit {
  margin: 0 0 0 auto;
}

/*Message List*/
.message-list {
  width: 100%;
  padding: 4em 0 4.25em 1.5rem;
}

.message-sender {
  font-size: 1rem;
  margin: 1.25em 0 0.3em 0;
}

.message-text {
  color: #f2f2f2;
  margin: 0;
}

.message-welcome {
  position: absolute;
  bottom: 10%;
}

.message-welcome .room-header {
  padding: 0;
  margin: 0 0 0.25em 0;
}

/*Input*/
.form-container {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 100%;
  transform: translateY(-100%);
  border-top: 0.5px solid black;
  padding: 0.45em 0 0 0;
  background: #263238;
}

.message-input {
  width: 85%;
  padding: 3px 8px 3px 1.75em;
  resize: none;
  vertical-align: top;
}

.message-submit {
  width: 15%;
  vertical-align: bottom;
  padding: 11px 0;
  cursor: pointer;
  font-size: 1rem
}

.message-input,
.message-submit {
  outline: 0;
  border: 0;
  color: #f2f2f2;
  background: #263238;
}
